section#ineo-contact.section
	a( href="mailto:info@ineo.vn?subject=Hello!" )
		h1
			span.white info @ ineo.vn
	ul.list-inline
		li.facebook
			a(href="//fb.com/ineo.vn", title="Facebook")
				i(class="fa fa-facebook")
		li.github
			a(href="//github.com/hoangbaovu", title="Github")
				i(class="fa fa-github")
		li.skype
			a(href="skype:baovuhbv@gmail.com?add", title="Skype")
				i(class="fa fa-skype")
		li.mail
			a(href="mailto:baovuhbv@gmail.com", title="mail")
				i(class="fa fa-envelope")
					