section#ineo-works.section

	h1 Dự án mới nhất

	#project
		ul
			li.item-project.col-xs-12.col-sm-6.col-md-4
				a(href="//ineo.vn/project/neo-aquarius-2", title="Aquarius")
					figure
						img(src="images/project/aquarius.jpg", alt="Aquarius")
						figcaption
							.caption
								h2 Aquarius
								h4 Themes
			li.item-project.col-xs-12.col-sm-6.col-md-4.hidden-xs
				a(href="//ghost.ineo.vn", title="The Ghost")
					figure
						img(src="images/project/the-ghost.jpg", alt="The Ghost")
						figcaption
							.caption
								h2 The Ghost
								h4 Website
			li.item-project.col-xs-12.col-sm-6.col-md-4.hidden-xs
				a(href="//laravel-viet.net", title="Laravel Việt Nam")
					figure
						img(src="images/project/laravel.jpg", alt="Laravel Việt Nam")
						figcaption
							.caption
								h2 Laravel
								h4 Themes