section#ineo-about.section
	h1 Tôi Là Ai?
	p Mình tên là Bảo Vũ, hiện đang sống và làm việc tại Huế, Việt Nam.
	p Mình thích tạo ra các thiết kế đẹp, trực quan và luôn áp dụng các kỹ thuật mới nhất với HTML, CSS.

	#what-i-do
		h1 Những gì mình làm
		.col-md-6
			#ineo-design
				.col-md-3.col-xs-12
					.design-icons.pull-left
				.col-md-9.col-xs-12
					h4 Thiết kế những gì bạn muốn
					p Mình thích sự đơn giản. Mục tiêu của mình là tập trung vào kiểu chữ, nội dung và truyền đạt những thông điệp mà bạn muốn gửi tới người xem.
		.col-md-6
			#ineo-develop
				.col-md-3.col-xs-12
					.develop-icons.pull-left
				.col-md-9.col-xs-12
					h4 Phát triển những gì bạn cần
					p Mình là một nhà phát triển, vì vậy mình biết làm thế nào để tạo ra trang web của bạn có thể hoạt động tốt trên các thiết bị, cho dù đó là một máy tính, điện thoại di động hay máy tính bảng.